# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [47]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [48]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jiangmen,CN,22.5833,113.0833,90.99,68,61,7.76,broken clouds
1,1,Hambantota,LK,6.1241,81.1185,79.14,89,40,4.61,scattered clouds
2,2,Olafsvik,IS,64.8945,-23.7142,41.14,91,100,35.79,overcast clouds
3,3,Touros,BR,-5.1989,-35.4608,76.01,78,45,13.42,scattered clouds
4,4,Bredasdorp,ZA,-34.5322,20.0403,48.24,83,75,4.43,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [49]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [50]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hambantota,LK,6.1241,81.1185,79.14,89,40,4.61,scattered clouds
3,3,Touros,BR,-5.1989,-35.4608,76.01,78,45,13.42,scattered clouds
13,13,Hilo,US,19.7297,-155.0900,82.27,83,41,3.00,scattered clouds
16,16,Avarua,CK,-21.2078,-159.7750,78.85,65,20,19.57,few clouds
17,17,Butaritari,KI,3.0707,172.7902,82.09,73,37,18.03,light rain
19,19,Vaini,TO,-21.2000,-175.2000,75.36,94,75,10.36,thunderstorm
25,25,Tabou,CI,4.4230,-7.3528,76.28,91,100,6.38,overcast clouds
34,34,Cayenne,GF,4.9333,-52.3333,75.24,94,20,0.00,few clouds
35,35,Salalah,OM,17.0151,54.0924,77.09,83,0,3.44,clear sky
38,38,Itarema,BR,-2.9248,-39.9167,77.43,80,83,16.35,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [51]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hambantota,LK,6.1241,81.1185,79.14,89,40,4.61,scattered clouds
3,3,Touros,BR,-5.1989,-35.4608,76.01,78,45,13.42,scattered clouds
13,13,Hilo,US,19.7297,-155.0900,82.27,83,41,3.00,scattered clouds
16,16,Avarua,CK,-21.2078,-159.7750,78.85,65,20,19.57,few clouds
17,17,Butaritari,KI,3.0707,172.7902,82.09,73,37,18.03,light rain
...,...,...,...,...,...,...,...,...,...,...
645,645,Mogok,MM,22.9167,96.5000,76.73,63,47,0.96,scattered clouds
647,647,Bannu,PK,32.9854,70.6027,81.18,33,0,1.07,clear sky
650,650,Sinnamary,GF,5.3833,-52.9500,78.22,87,10,8.99,clear sky
655,655,Brazzaville,CG,-4.2658,15.2832,76.19,79,59,3.22,light rain
658,658,Niltepec,MX,16.5667,-94.6167,77.09,77,50,9.66,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [52]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country", "Max Temp","Current Description", "Lat", "lng"]].copy()


# Display sample data
hotel_df.head(10)

          City Country  Max Temp Current Description      Lat       lng
1   Hambantota      LK     79.14    scattered clouds   6.1241   81.1185
3       Touros      BR     76.01    scattered clouds  -5.1989  -35.4608
13        Hilo      US     82.27    scattered clouds  19.7297 -155.0900
16      Avarua      CK     78.85          few clouds -21.2078 -159.7750
17  Butaritari      KI     82.09          light rain   3.0707  172.7902
19       Vaini      TO     75.36        thunderstorm -21.2000 -175.2000
25       Tabou      CI     76.28     overcast clouds   4.4230   -7.3528
34     Cayenne      GF     75.24          few clouds   4.9333  -52.3333
35     Salalah      OM     77.09           clear sky  17.0151   54.0924
38     Itarema      BR     77.43       broken clouds  -2.9248  -39.9167

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [53]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,lng,Hotel Name
1,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,
3,Touros,BR,76.01,scattered clouds,-5.1989,-35.4608,
13,Hilo,US,82.27,scattered clouds,19.7297,-155.0900,
16,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
17,Butaritari,KI,82.09,light rain,3.0707,172.7902,
19,Vaini,TO,75.36,thunderstorm,-21.2000,-175.2000,
25,Tabou,CI,76.28,overcast clouds,4.4230,-7.3528,
34,Cayenne,GF,75.24,few clouds,4.9333,-52.3333,
35,Salalah,OM,77.09,clear sky,17.0151,54.0924,
38,Itarema,BR,77.43,broken clouds,-2.9248,-39.9167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [54]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [57]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,lng,Hotel Name
1,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,Bungalow 63
3,Touros,BR,76.01,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
13,Hilo,US,82.27,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
17,Butaritari,KI,82.09,light rain,3.0707,172.7902,Isles Sunset Lodge

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [59]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,lng,Hotel Name
1,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,Bungalow 63
3,Touros,BR,76.01,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
13,Hilo,US,82.27,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
17,Butaritari,KI,82.09,light rain,3.0707,172.7902,Isles Sunset Lodge
19,Vaini,TO,75.36,thunderstorm,-21.2000,-175.2000,Keleti Beach Resort
25,Tabou,CI,76.28,overcast clouds,4.4230,-7.3528,hotêl doufoulougou
34,Cayenne,GF,75.24,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
35,Salalah,OM,77.09,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
38,Itarema,BR,77.43,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [44]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("../WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [60]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [61]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [62]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 82.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>thunderstorm and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>hotêl doufoulougou</dd>\n<dt>City</dt><dd>Tabou</dd>\n<dt>Country</dt><dd>CI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.43 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [64]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "lng"]]

# Display sample data
locations.head(10)

        Lat       lng
1    6.1241   81.1185
3   -5.1989  -35.4608
13  19.7297 -155.0900
16 -21.2078 -159.7750
17   3.0707  172.7902
19 -21.2000 -175.2000
25   4.4230   -7.3528
34   4.9333  -52.3333
35  17.0151   54.0924
38  -2.9248  -39.9167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [65]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))